    <ul>
        <li><a href="#">Home </a>| </li>
        <li><a href="#">Projects</a> | </li>
        <li><a href="#">Support </a>| </li>
        <li><a href="#">About us </a> </li>
    </ul>
    <p class="copyright">
        All original content on this website is copyrighted &copy; 2011 ninethousand.org
    </p>
