* {margin:0;padding:0}
.fleft {float:left}
.fright {float:right}
.fcenter {float:none;text-align:center}
.fclear {clear:both}
.inner_copy {border:0;color:#f00;float:right;width:50% !important;margin:-100% 0 0 0;overflow:hidden;line-height:0;padding:0;font-size:11px}
body {background:#fff;color:#0F0F0F;font:16px/16px "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif; margin:15px 0 0;padding:0}
a {padding:0 6px;color:#FF7113;text-decoration:none}
a:hover {color:#666}
div, ul, h1, h2, h3, li, p, img {margin:0;padding:0}
ul {list-style-type:none}

a.heading {color:#FF7113;text-decoration:none}
a.heading:hover {color:#666;text-decoration:none}

.ribbon {
  background-color: #FF7113;
  overflow: hidden;
  position: absolute;
  right: -3em;
  top: 2.5em;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-box-shadow: 0 0 1em #888;
  -webkit-box-shadow: 0 0 1em #888;
}
.ribbon a {
  border: 1px solid #FFF;
  color: #fff;
  display: block;
  font: bold 81.25% "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
  margin: 0.05em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 0.5em #444;
}

/* TOP PANEL*/
#topPanel {width:800px;height:130px;position:relative;margin:0 auto;padding:0}
#topPanel #site-logo {width:350px;height:120px;z-index:1;padding:0;position:absolute; margin:0 0 0 25px}

/* MENU PANEL*/
#topPanel ul {display:block;width:800px;height:36px;position:absolute;top:50px;right:0;margin:11px 0 0;padding:0 29px 0 0;border-bottom:1px solid #AEAEAE}
#topPanel ul li {float:right;font:12px/36px "Trebuchet MS",Arial,Helvetica,sans-serif;font-weight:bold}
#topPanel ul li a {width:74px;height:36px;display:block;padding:0;color:#555;background:#fff;text-decoration:none;text-align:center;margin:0 1px 0 0;top:0;left:0}
#topPanel ul li a:hover {width:74px;height:36px;text-decoration:none;background:url(../images/button.gif) no-repeat 0 0 #AEAEAE;color:#fff}
#topPanel ul li.active {width:74px;display:block;height:36px;background:url(../images/button.gif) no-repeat 0 0 #AEAEAE;color:#fff;text-align:center;margin:0 1px 0 0}
#topPanel ul li a.active {width:74px;height:36px;text-decoration:none;background:url(../images/button.gif) no-repeat 0 0 #AEAEAE;color:#fff}

/* BODY PANEL*/
#bodyPanel {width:800px;position:relative;margin:0 auto;padding:0}

/* ERROR PANEL */
#errorPanel {width:100%; margin: 10 auto;padding:10px; text-align:center}
#errorPanel h1 {font:30px/30px Georgia, "Times New Roman", Times, serif;font-weight:normal;padding:5px;color:#FF7113}
#errorPanel h2 {font:20px/20px Georgia, "Times New Roman", Times, serif;font-weight:normal;padding:5px;}

/* FEATURE PANEL*/
#featurePanel {width:800px;margin:0 auto;padding:0}
#featurePanel #headerPanelfast {display:inline-block;width:246px;height:263px;margin:0;padding:0;background:url(../images/orange-normal.png) no-repeat 0 0 #fff;color:#333;margin-left:5px; margin-right:5px;}
#featurePanel #headerPanelfast:hover {background:url(../images/orange-hover.png);cursor:pointer;}
#featurePanel #headerPanelfast h2 {display:block;width:90px;height:47px;margin:40px 0 0 80px;font:16px/16px "Trebuchet MS",Arial,Helvetica,sans-serif;font-weight:bold;text-transform:uppercase;position:absolute;z-index:1}
#featurePanel #headerPanelfast p {display:block;font:12px/18px Arial,Helvetica,sans-serif;font-weight:bold;z-index:1;padding:0;margin:115px 60px 0 38px}
#featurePanel #headerPanelsecond {display:inline-block;width:246px;height:263px;margin:0;padding:0;background:url(../images/green-normal.png) no-repeat 0 0 #fff;color:#333;margin-left:5px; margin-right:5px;}
#featurePanel #headerPanelsecond:hover {background:url(../images/green-hover.png);cursor:pointer;}
#featurePanel #headerPanelsecond h2 {display:block;width:90px;height:47px;margin:40px 0 0 80px;font:16px/16px "Trebuchet MS",Arial,Helvetica,sans-serif;font-weight:bold;text-transform:uppercase;position:absolute;z-index:1}
#featurePanel #headerPanelsecond p {display:block;font:12px/18px Arial,Helvetica,sans-serif;font-weight:bold;z-index:1;padding:0;margin:115px 60px 0 38px}
#featurePanel #headerPanelthird {display:inline-block;width:246px;height:263px;margin:0;padding:0;background:url(../images/blue-normal.png) no-repeat 0 0 #fff;color:#333;margin-left:5px; margin-right:5px;}
#featurePanel #headerPanelthird:hover {background:url(../images/blue-hover.png);cursor:pointer;}
#featurePanel #headerPanelthird h2 {display:block;width:90px;height:47px;margin:40px 0 0 80px;font:16px/16px "Trebuchet MS",Arial,Helvetica,sans-serif;font-weight:bold;text-transform:uppercase;position:absolute;z-index:1}
#featurePanel #headerPanelthird p {display:block;font:12px/18px Arial,Helvetica,sans-serif;font-weight:bold;z-index:1;padding:0;margin:115px 60px 0 38px}

/* CONTENT PANEL*/
#contentPanel {width:800px;margin:0 auto;padding:0}
#contentPanel h2 {display:block;margin:0;font:30px/30px Georgia, "Times New Roman", Times, serif;font-weight:normal;padding:4px 0 0 0px;color:#FF7113}
#contentPanel p.news {background:url(../images/symbol.png) 0 0 no-repeat #fff;margin:0 0 0 54px;padding:0 42px 35px 150px;color:#0F0F0F}
#contentPanel p span {font-weight:bold}
#contentPanel p.dotline {background:url(../images/dot-line.gif) 0 0 repeat-x #fff;padding:0;margin:0 40px 0 25px;color:#000}
#contentPanel p.capstext {font:18px/24px Georgia, "Times New Roman", Times, serif;font-style:italic;color:#555;padding:2px 10px 0 25px ;margin:0 35px 10px 0}
#contentPanel a.more {width:76px;height:26px;display:block;margin:314px 20px 19px 618px;background:url(../images/more.gif) 0 0 no-repeat #fff;color:#555;text-decoration:none;font:15px/26px "Trebuchet MS",Arial,Helvetica,sans-serif;padding:0 0 0 10px;text-transform:uppercase;position:absolute;top:0;right:0}

#contentPanel #info {vertical-align:top; padding-top:0px;}

#contentPanel #support {width:260px;height:200px;display:inline-block;background:url(../images/testimonial-bg.gif) 0 0 no-repeat #FFF6DB;padding: 5px 15px 15px 148px;margin:0 0 20px 10px;color:#786321;position:relative; top: 0px;}
#contentPanel #support h3 {display:block;font:26px/26px Georgia, "Times New Roman", Times, serif;font-weight:normal;padding:0 0 0 20px;color:#FF7113}
#contentPanel #support p {background:none;font:16px/16px "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;line-height:20px;font-weight:normal;color:#555;margin:0;padding:0 0 5px 0}
#contentPanel #support span.moretwo {height:26px;padding:0;background:none;margin:0; float:right;}
#contentPanel #support span.moretwo a {width:76px;height:26px;display:inline-block;background:url(../images/more2.gif) 0 0 no-repeat #FFF5D6;color:#555;text-decoration:none;font:15px/26px "Trebuchet MS",Arial,Helvetica,sans-serif;text-transform:uppercase;padding:0 0 0 10px;top:0;right:0}
#contentPanel #support span.moretwo a:hover {background:url(../images/more2.gif) 0 0 no-repeat #FFF5D6;color:#216EBD;text-decoration:none}

#contentPanel #technology {height:200px;display:inline-block; padding: 5px 15px 15px 30px;margin:0 0 20px 10px;position:relative; top: 0px;}
#contentPanel #technology h3 {display:block;font:26px/26px Georgia, "Times New Roman", Times, serif;font-weight:normal;padding:0 0 0 20px;color:#FF7113}
#contentPanel #technology ul {width:225px;display:block;}
#contentPanel #technology ul li {font:20px/20px Arial,Helvetica,sans-serif;font-weight:normal;background:url(../images/symbol2.gif) 0 8px no-repeat;padding:0 0 0 30px}
#contentPanel #technology ul span {background:url(../images/dot-line.gif) repeat-x 0 100%;height:25px;display:block}

#contentPanel #projects h2 {display:block;font:26px/26px Georgia, "Times New Roman", Times, serif;font-weight:normal;padding:10px 0 10px 0;color:#FF7113;width:auto;}
#contentPanel #projects {width:100%; padding: 5px 15px 15px 15px; margin:5px 5px 20px 5px;}
#contentPanel #projects ul {width:100%;display:block;}
#contentPanel #projects ul li {width:100%;display:block;display:block;font:16px/16px Georgia, "Times New Roman", Times, serif;font-weight:normal;background:url(../images/dot-line.gif);background-repeat:repeat-x; background-position:bottom; padding:20px 0 20px 0; }
#contentPanel #projects div.description {width:48%; display:inline-block; vertical-align:top;padding: 5px 0 5px 0;}
#contentPanel #projects div.links {width:48%; display:inline-block;}

#contentPanel #about h2 {display:block;font:26px/26px Georgia, "Times New Roman", Times, serif;font-weight:normal;padding:10px 0 10px 0;color:#FF7113;width:auto;}
#contentPanel #about {width:100%; padding: 5px; margin:5px; }
#contentPanel #about p {font:16px/16px "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;line-height:20px;font-weight:normal;color:#555;}
#contentPanel #about ul li {width:100%;display:block;font:16px/16px "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;line-height:20px;font-weight:normal;color:#555;background:url(../images/dot-line.gif);background-repeat:repeat-x; background-position:bottom; padding:20px 0 20px 0; }
#contentPanel #about div.aboutmember {width:90%; vertical-align:top;padding: 5px 0 5px 0; margin:20px 0 15px 30px;}
#contentPanel #about div.aboutmember img {float:left;margin:5px 10px 5px 10px;}

#contentPanel #supportpage h2 {display:block;font:26px/26px Georgia, "Times New Roman", Times, serif;font-weight:normal;padding:10px 0 10px 0;color:#FF7113;width:auto;}
#contentPanel #supportpage {width:100%; padding: 5px 15px 15px 15px; margin:5px 5px 20px 5px; }
#contentPanel #supportpage p {font:16px/16px "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;line-height:20px;font-weight:normal;color:#555;}
#contentPanel #supportpage ul li {width:100%;display:block;font:16px/16px "Lucida Sans Unicode","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;line-height:20px;font-weight:normal;color:#555;background:url(../images/dot-line.gif);background-repeat:repeat-x; background-position:bottom; padding:20px 0 20px 0; }


/* FOOTER PANEL*/
#footerPanel {color:#4C4C4C;font-size:12px; text-align:center;position:relative;margin:0 auto; padding: 10px;}
#footerPanel ul {display:block;}
#footerPanel li {display:inline;font:12px/15px Arial,Helvetica,sans-serif;font-weight:normal}
#footerPanel ul li a {padding:0 6px;color:#4C4C4C;text-decoration:none}
#footerPanel ul li a:hover {text-decoration:underline}
#footerPanel p.copyright {display:block;color:#A64200}
