 {% extends 'NineThousandNineThousandBundle::layout.html.twig' %}
 {% block title "ninethousand.org" %}
 {% block menu %}{% include "NineThousandNineThousandBundle:Default:menu.html.twig" %}{% endblock %}
 {% block body %}
	<div id="featurePanel">
        <div id="headerPanelfast">
            <h2><a href="/project/jobqueue" title="Jobqueue" >Jobqueue</a></h2>
            <p>A Simple, extensible, job queue component. </p>
        </div>
        <div id="headerPanelsecond">
            <h2><a href="/project/phingistrano" title="Phingistrano" >Phingistrano</a></h2>
            <p>Building and deploying projects based on Phing.</p>
        </div>
        <div id="headerPanelthird">
            <h2><a href="/project/community" title="Community Wares" >Community Wares</a></h2>
            <p>Libraries for community based applications. </p>
        </div>
	</div>
   
    <div id="contentPanel">
        <h2>About Us</h2>
        <p class="news">The ninethousand.org software project is an organization for producing high quality enterprise software and components. All of our software is licensed under open source licenses and can be used in any project which complies with its individual open source license. The Projects featured on ninethousand.org are expected to be in active development and not all have stable releases available, however we do use this website, github.com and PEAR to distribute our latest software builds and updates on a regular basis. <a href="#">More</a> </p>
        <p class="dotline"><img src="bundles/ninethousandninethousand/images/blank.gif" alt="" width="1" height="1" /></p>
        <p class="capstext">Today, OSS soulutions are less about engineering, and more about using the great components which have already been engineered. With great frameworks like Symfony2 and Zend, and great libraries from Doctrine and Pear; it is only a matter of picking the right solutions for the job.</p>
        <p class="dotline"><img src="bundles/ninethousandninethousand/images/blank.gif" alt="" width="1" height="1" /></p>
        <div id="info">
	        <div id="support">
                <h3>Support</h3>
                <p><strong>We manage support through github.com issues.</strong> We patch and update our software through github.com. We do our best to support the community use of our software. No SLA can be given nor implied and all support given is done so on a completely voulentary basis.<span class="moretwo"><a href="/support">More</a></span></p>
            </div>
            <div id="technology" >
                <h3>Technology we use</h3>
                <ul>
                    <li><strong><a href="http://php.net/" title="PHP 5.3" >PHP 5.3</a></strong></li>
                    <li><strong><a href="http://www.doctrine-project.org/projects" title="Doctrine" >Doctrine</a></strong></li>
                    <li><strong><a href="http://pear.php.net/" title="Pear" >PEAR</a></strong></li>
                    <li><strong><a href="http://www.phing.info/" title="Pear" >Phing</a></strong></li>
                    <li><strong><a href="http://symfony.com/" title="symfony2" >Symfony2</a></strong></li>
                    <li><strong><a href="http://framework.zend.com/" title="Zend Framework" >Zend Framework</a></strong></li>
                    <li><strong><a href="http://git-scm.com/" title="Git" >Git</a></strong></li>
                </ul>
            </div>
        </div>
    </div>

 {% endblock %}
