 {% extends 'NineThousandNineThousandBundle::layout.html.twig' %}
 {% block title "ninethousand.org" %}
 {% block menu %}{% include "NineThousandNineThousandBundle:Default:support_menu.html.twig" %}{% endblock %}
 {% block body %}
   
    <div id="contentPanel">
        <div id="supportpage" />
            <h2>Support</h2>
            <p><strong>We manage support through github.com issues.</strong> We patch and update our software through github.com. We do our best to support the community use of our software. No SLA can be given nor implied and all support given is done so on a completely voulentary basis.</p>
        </div>
    </div>

 {% endblock %}
